.cards{
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    
}

.Card-box{
    width: 300px;
    height: auto;
    padding: 0 90px;
    
}