.cards{
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.card-box{
    width: 300px;
    height: 160px;

    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    
}

.card-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 14px rgba(0, 0, 0, 0.2);
}

.card-box.alerta {
    background-color: rgb(248, 253, 93);
    color: black;
}