.cards{
    width: auto;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
   gap: 80px;
   flex-wrap: wrap;
   padding: 0px;
   margin: 0px;
}

.Card-box{
    width: auto;
    
}