.App {
  text-align: center;
 background-color: rgb(229, 231, 235); /* cinza claro */
  margin-top: 0px;
  font-family: Arial, sans-serif;
  border-radius: 0px;

}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

