.App {
  text-align: center;
 background-color: #f0f0f0; /* cinza claro */
  margin: 0;
  font-family: Arial, sans-serif;

}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

