*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border-radius: 20px;
}


.navbar{
  background-color: #fff;
  border-color: gray;
  min-height: 80px;
}

.Content-container{
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.header-container{
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
}

.title-container {
  display: flex;
  justify-content: flex-start;
  justify-items: flex-start;
  text-align: left;
}

.parameters-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px;
  max-width: 200px;
  }

@media (max-width: 800px) {
.parameters-container {
    flex-direction: column;
  }
}

.parameter-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* flex-wrap: wrap; */
  min-height: 80px;
  max-height: fit-content;
  min-width: 196px;
  max-width: 260px;
  padding: 24px;
  border: 0.8px solid gray;
  background-color: #fff;
}

.parameter-box:hover{
  box-shadow: 0 10px 20px 0 rgba(252, 0, 0, 1);
}


.parameter-data h4{
  font-size: 16px;
}


.parameter-data h5{
  font-size: 20px;
}

.parameter-data h6{
  color: gray;
  font-size: 14px;
}

.parameter-icon{
  min-height: 60px;
  min-width: 60px;
  max-height: 60px;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parameter-icon .fa-solid{
  color: #fff;
  size: 10px;
}

.title-container{
  background-color: white;
}

.container-md{
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 25px;
  flex-wrap: wrap;
}

.groups-container{
  display: flex;
  flex-direction: column;
  justify-content:center ;
  gap: 15px;
  border-radius: 20px;
  border: 2px solid gray;
  height: fit-content;
}

.cards-container{
  display: flex;
  flex-direction: row;
  justify-content:center ;
  border-radius: 20px;
}

.events-container{
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
}

