.modal-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    gap: 20px;
}

.title-container{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.status-name{
    height: fit-content;
    width: fit-content;
}

.info-label{
    margin-top: 18px;
}

.row-container{
    display: flex ;
    flex-direction: row;
    gap: 90px;
}

.history-container{
    display: flex;
    flex-direction: column-reverse;
}

.history-line{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.dot-history{
    height: 8px;
    width: 8px;
    background-color: rgb(90, 89, 89);
    margin-top: 8px;
    margin-left: 8px;
    display: flex;
    align-items: center;
}

.title-history{
    color: rgb(90, 89, 89);
}