*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border-radius: 20px;
}


.navbar{
  background-color: #fff;
  border-color: gray;
  min-height: 80px;
}

.Content-container{
  display: flex;
  flex-direction: row;
  gap: 12px;
  background-color: rgb(229, 231, 235);
}

.header-container{
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-justify: initial;
  background-color: #fff;
  padding: 10px 20px;
}


.title-container {
  display: flex;
  justify-content: flex-start;
  justify-items: flex-start;
  text-align: left;
}

.parameters-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
  width: 50px;
  }

@media (max-width: 800px) {
.parameters-container {
    flex-direction: column;
  }
}

.parameter-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* flex-wrap: wrap; */
  min-height: 80px;
  max-height: fit-content;
  min-width: 196px;
  max-width: 260px;
  padding: 24px;
  border: 0.8px solid gray;
  background-color: #fff;
}

.parameter-box:hover{
  box-shadow: 0 2px 5px 0 rgba(203, 189, 189, 0.992);
}


.parameter-data h4{
  font-size: 16px;
}


.parameter-data h5{
  font-size: 20px;
}

.parameter-data h6{
  color: gray;
  font-size: 14px;
}

.parameter-icon{
  min-height: 60px;
  min-width: 60px;
  max-height: 60px;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parameter-icon .fa-solid{
  color: #fff;
  size: 10px;
}

.items-container{
  width: 1200px;
  gap: 20px;
  flex-wrap: nowrap;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
}

.item-box{
  border-radius: 6px;
  height: auto;
  align-items: flex-start;
  background-color: aquamarine;
}



.container-md{
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  flex-wrap: wrap;
}

.groups-container{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  height: fit-content;
  margin-top: 0px;
}

.group-title-button{
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content:space-between ;
}

.groups-button{
  margin-right: 20px;
}

.event-button{
  margin-right: 20px;
}

.cards-container{
  display: flex;
  flex-direction: row;
  justify-content:center ;
  width: auto;
  margin-top: 0px;
}

.events-container{
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

