*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border-radius: 20px;
}

.project-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
  padding: 10px;
  min-height: 163.2px;
}

